.tables-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 500px) {
  .tables-inicio {
    display: grid;
    grid-template-columns: none;
    gap: 0px;
  }
}
