.table-general {
  width: 100%;
  min-width: 50%;
  margin: 10px;
  overflow: auto;
}
.tr-general {
  display: grid;
  grid-template-columns: 0.2fr repeat(5, 1fr);
  background-color: rgba(175, 178, 180, 0.401);
  height: 4.5vh;
  align-items: center;
  font-weight: bold;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tr-general-d {
}
.th-general {
}
.tds {
  display: grid;
  grid-template-columns: 0.2fr repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #c9c9c9;
}
.tds:hover {
  background-color: #c9c9c951;
}
.td-general {
  display: flex;
  align-items: center;
  height: 8vh;
  gap: 5px;
}
.td-general-b {
  display: flex;
  align-items: center;
  height: 8vh;
  gap: 10px;
}
.section-table {
  display: flex;
}
.p-true {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: #49cfcc;
  font-weight: bold;
  border-radius: 5px;
  gap: 5px;
  font-size: 15px;
}
.p-false {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  color: #ea6889;
  font-weight: bold;
  border-radius: 5px;
  gap: 5px;
  font-size: 15px;
}
